<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to "Title", songs_path, remote: true %></th>
      <th>Artist</th>
      <th><%= link_to "Instrument", songs_by_instrument_path, remote: true %></th>
      <th><%= link_to "Key", songs_by_key_path, remote: true %></th>
      <th>High note</th>
      <th>Status</th>
      <th><%= link_to "Last Performed", songs_by_date_path, remote: true %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="song-list">
    <%= render partial: 'song_list' %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
