<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Instrument</th>
      <th>Key</th>
      <th>High note</th>
      <th>Memorized</th>
      <th>Last Performed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to "#{song.title}", song %></td>
        <td><%= link_to "#{song.artist.name}", song.artist %></td>
        <td><%= song.instrument.name %></td>
        <td><%= song.key %></td>
        <td><%= song.high_note %></td>
        <td><%= song.memorized %></td>
        <td><%= song.last_performed %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
