<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to "#{@song.artist.name}", @song.artist %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @song.instrument %>
</p>

<p>
  <strong>Key:</strong>
  <%= @song.key %>
</p>

<p>
  <strong>High note:</strong>
  <%= @song.high_note %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @song.lyrics %>
</p>

<p>
  <strong>Memorized:</strong>
  <%= @song.memorized %>
</p>

<p>
  <strong>Performed on:</strong>
  <%= @song.last_performed %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @song.notes %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %>
