<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @artist.notes %>
</p>

<p>
  <strong>Songs:</strong>
</p>
  <% @artist.songs.each do |song| %>
    <p><%= link_to "#{song.title}", song  %></p>
  <% end %>


<%= link_to 'Edit', edit_artist_path(@artist) %>
